<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="learn math">All</span></li>
            <li><span class="filter" data-filter="learn">Machine Learning</span></li>
            <li><span class="filter" data-filter="math">Math</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio learn" data-cat="learn">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="creating new art with Tensorflow: ArtGan-GP">
                        <img src="images/portfolio/1.jpg" alt="machine learning" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ArtGan-GP</a>
                                <span class="text-category">Machine Learning</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->
			<!-- .portfolio -->
            <div class="portfolio math" data-cat="math">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/ADubinA/Z_n_multi_table/raw/master/example.png" rel="portfolio" title="lecture about Z_n multiplication table">
                        <img src="https://github.com/ADubinA/Z_n_multi_table/raw/master/example.png" alt="math" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Z_n multiplication table</a>
                                <span class="text-category">Math</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->